:host {
  --clr-primary: rgba(15, 15, 15, 1);
  --clr-secondary: rgba(255, 255, 255, 0.7);
  --clr-third: rgb(235, 235, 161);
  --clr-fourth: #1e1e1e;
  --btn-scale: 1;
}

header {
  margin-top: 10px;
  top: 10px;
  padding: 0 2rem;
  z-index: 10;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.4s ease;
}

.navbar .logo {
  min-width: 210px;
}

.navbar .logo a {
  font-size: 1.7rem;
  font-weight: 500;
  min-width: 150x;
  text-decoration: none;
  color: #fcfcfc;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none solid rgba(0, 0, 0);
  word-spacing: 0px;
  height: 48px;
  max-width: 1000px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, #000000 0%, #472f8c 100%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  list-style: none;
  margin: 0;
}

.navbar .links a {
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: 1rem;
}

.navbar .links a:hover {
  color: var(--clr-third);
}

.navbar .logo {
  display: flex;
  gap: 2rem;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none solid rgba(0, 0, 0);
  word-spacing: 0px;
  height: 48px;
  width: 170px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-around;
  // background-color: var(--clr-fourth);
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.08);
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.connect_btn {
  width: 200px;
  height: 48px;
  color: var(--clr-secondary);
  padding: 12px 28px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: scale 0.2s ease;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to bottom, #000000 0%, #472f8c 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

.connect_btn:hover {
  scale: 1.05;
  color: var(--clr-third);
}

.connect_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: var(--clr-fourth);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 350px;
}

.dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu li a {
  text-decoration: none;
  color: var(--clr-secondary);
  font-size: 1rem;
}

.dropdown_menu li a:hover {
  color: var(--clr-third);
}

.dropdown_menu .connect_btn {
  width: 100%;
}

.Drop_down_btn {
  background-color: var(--clr-fourth);
  position: relative;
  display: block;
  transform: scale(var(--btn-scale, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.Drop_down_btn::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 5px;
}

@media (max-width: 992px) {
  :host {
    --btn-scale: 1.5;
  }

  .navbar .links,
  .navbar .connect_btn {
    display: none;
  }

  header {
    margin-top: 10px;
    position: absolute;
    top: 10px;
    padding: 0 2rem 0 0.3rem;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    transition: transform 0.3s ease;
  }

  .navbar .logo {
    scale: 0.9;
  }
}

@media (max-width: 570px) {
  :host {
    --btn-scale: 1;
  }

  header {
    margin-top: 10px;
    position: absolute;
    top: 10px;
    padding: 0 2rem 0 1rem;
    background-color: transparent;
  }

  .dropdown_menu {
    left: 2rem;
    width: unset;
    transition: transform 0.3s ease;
  }

  .navbar .logo {
    scale: 0.8;
  }
}
