/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333333;
  --border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ClashDisplay', sans-serif;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/assets/fonts/ClashDisplay-Medium.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
